html {
    font-family: Roboto, serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

#header {
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #fff3;
    box-shadow: 0 4px 6px #0000001a;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: center;
    left: 0;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
}

body {
    background-color: #fff;
    background-image: url(https://www.transparenttextures.com/patterns/cubes.png);
    height: 150vh;
    margin: 0;
    overflow-x: hidden;
}

#name {
    color: #000;
    font-size: 40px;
    left: 2%;
    margin-right: auto;
    position: relative;
}

#about,
#contact,
#home,
#project {
    color: #000;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
    text-decoration: none;
    transition: .5s;
}

.wave {
    bottom: 0;
    left: -100px;
    min-width: 2000px;
    position: absolute;
    right: 0;
    z-index: 1;
}

#contact:hover,
#home:hover,
#project:hover {
    color: #006eff;
    cursor: pointer;
}

#footer {
    background-color: #09f;
    height: 900px;
    position: absolute;
    top: 920px;
    width: 100%;
}

#img {
    background-color: #b9bcbe;
    border-radius: 50%;
    box-shadow: 4px 2px 50px #dbdbdb;
    height: 200px;
    transition: 1s;
    width: 200px;
    z-index: 2;
}

#img-cont:hover #img {
    height: 300px;
    transform: translateX(-130%);
    width: 300px;
}

#intro {
    color: #000;
    font-family: Oswald, serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-style: normal;
    font-weight: <weight>;
    margin-bottom: 80px;
    opacity: 0;
    transform: translatex(500px);
    transition: 1s;
    z-index: 1;
}

#introdiv {
    left: 50%;
    min-width: 300px;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 600px;
    z-index: 1;
}

#img-cont:hover #intro {
    margin-left: 0;
    opacity: 1;
    transform: translatex(100px);
}

#img-cont {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1.5s;
    position: absolute;
    z-index: 1;
}

#scroller {
    align-items: center;
    animation: scroll 25s linear infinite;
    animation-play-state: running;
    background-color: #000;
    bottom: -400px;
    box-shadow: 0 0 25px #000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 120px;
    height: 150px;
    justify-content: center;
    list-style-type: none;
    opacity: 1;
    white-space: nowrap;
    width: 1860px;
    position: absolute;
    z-index: 1;
}

#scroller svg {
    display: inline-flex;
    filter: grayscale(1);
    flex-shrink: 0;
    height: 100px;
    margin-right: 10px;
    transition: .5s;
}

#scroller svg:hover {
    animation-play-state: paused;
    cursor: pointer;
    filter: grayscale(0);
    scale: 1.2;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#scrollercontainer {
    overflow: hidden;
    width: 100%;
}

#scroller2 {
    align-items: center;
    animation: scroll2 25s linear infinite;
    animation-play-state: running;
    background-color: #000;
    bottom: -400px;
    box-shadow: 0 0 25px #000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 120px;
    height: 150px;
    justify-content: center;
    list-style-type: none;
    opacity: 1;
    position: absolute;
    transform: translateX(100%);
    white-space: nowrap;
    width: 1860px;
    z-index: 1;
}

#scroller2 svg {
    display: inline-flex;
    filter: grayscale(1);
    flex-shrink: 0;
    height: 100px;
    margin-right: 10px;
    transition: .5s;
}

#scroller2 svg:hover {
    animation-play-state: paused;
    cursor: pointer;
    filter: grayscale(0);
    scale: 1.2;
}

@keyframes scroll2 {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

#img-cont.animate-out {
    margin-top: 600px;
    opacity: 0;
    transition: 1.5s;
}

#img-cont.animate-in {
    animation: slide-up 1s ease-in-out forwards;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        top: 70%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

#proj-cont div {
    background-color: #8a9297;
    border-radius: 15px;
    box-sizing: border-box;
    height: 400px;
    overflow: hidden;
    transition: 1s;
    width: 400px;
}

#proj-cont {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#proj-cont div:hover {
    cursor: pointer;
    scale: 1.1;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fcfcfc;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#032749, #09f);
}

::-webkit-scrollbar-thumb:hover {
    background: #1769e4;
}

#proj1.animate-out {
    margin-top: 600px;
    opacity: 0;
    transition: 1s;
}

#proj1.animate-in {
    animation: slide-up-proj 1s ease-in-out forwards;
}

#proj2.animate-out {
    margin-top: 600px;
    opacity: 0;
    transition: 1.8s;
}

#proj2.animate-in {
    animation: slide-up-proj 1.5s ease-in-out forwards;
}

#proj3.animate-out {
    margin-top: 600px;
    opacity: 0;
    transition: 2.4s;
}

#proj3.animate-in {
    animation: slide-up-proj 2s ease-in-out forwards;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#contacts {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#contacts svg {
    display: inline-flex;
    height: 100px;
    margin-bottom: 0;
    transition: 0.5s;
}

#contacts svg:hover {
    scale: 1.2;
    transform: translateY(-10px);
}

#contacts p {
    font-family: Roboto, serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    margin-top: 0;
}

#insta.animate-out {
    margin-top: 600px;
    opacity: 0;
    transition: 1s;
}

#insta.animate-in {
    animation: slide-up-proj 1s ease-in-out forwards;
}

#gmail.animate-out {
    margin-top: 600px;
    opacity: 0;
    transition: 1.8s;
}

#gmail.animate-in {
    animation: slide-up-proj 1.5s ease-in-out forwards;
}

#linkedin.animate-out {
    margin-top: 600px;
    opacity: 0;
    transition: 2.4s;
}

#linkedin.animate-in {
    animation: slide-up-proj 2s ease-in-out forwards;
}

#proj1 img {
    height: 100%;
    object-fit: cover;
    scale: 1;
    transition: 2s;
    width: auto;
}

#proj1:hover img {
    cursor: pointer;
    opacity: 0;
}

#proj1 video {
    bottom: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    right: 0;
    scale: 1;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 0;
}

#proj1 video,
#proj1:hover video {
    cursor: pointer;
    display: block;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

#proj1:hover video {
    opacity: 1;
    width: 100%;
    z-index: 1.1;
}

#proj1:hover {
    width: 700px;
}

#proj2 video {
    bottom: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    right: 0;
    scale: 1;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 0;
}

#proj2 video,
#proj2:hover video {
    cursor: pointer;
    display: block;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

#proj2:hover video {
    opacity: 1;
    width: 100%;
    z-index: 1.1;
}

#proj2:hover {
    width: 700px;
}

#proj2:hover img {
    opacity: 0;
}

#proj2 img {
    transition: 1s;
}

@media (max-width: 720px) {

 #name{
    font-size: 12px;
 }
 #home{
    font-size: 12px;
 }
 #project{
    font-size: 12px;
 }

 #contact{
    font-size: 12px;
 }
 #img{
    height: 50px;
    width: 50px;
    transition: 1s;
 }
 #img-cont:hover #img {
    height: 100px;
    transform: translatey(-110%);
    width: 100px;
}
#intro{
    font-size: 13px;
    margin-left: 110px;
    transform: translateX(200px);
    transform: translateY(200px);
    transition: 1.2s;
    width: 200px;
    height: 100px;
}
#img-cont:hover #intro {
    margin-left: 110px;
    opacity: 1;
    transform: translatey(20px);
}
#introdiv{
    width: 400px;
}
#scroller {
   height: 100px;
   width: 1450px;
   gap: 120px;
}
#scroller2{
    height: 100px;
    width: 1450px;
    gap: 120px;
}
#scroller svg{
    height: 50px;


}
#scroller2 svg{
    height: 50px;


}
#proj-cont{
    gap: 50px;
}
#proj-cont div{
    height: 100px;
    width: 100px;
}
#contacts svg{
    height: 50px;
}
#contacts p{
    font-size: 20px;
}
#proj1:hover{
    width: 150px;
} 
#proj2:hover{
    width: 150px;
}
#footer{
   top: 600px;
}
::-webkit-scrollbar {
    width: 0px;
}
#body{
    width: 100vw;
}
.wave{
    display: 100%;
}
}


